
<%= flash_message %>

<%= "Project name: #{@projects.name}" %>
<ul>
  <% @entries.each do |entries| %>
     <% if entries.hours != nil %>
       <li><%= "#{entries.hours} h #{entries.minutes} m - #{entries.date.to_date}"%>
         <%= link_to("Edit", edit_project_entry_path(@projects, entries)) %>
         <%= link_to("Delete", project_entry_path(@projects, entries),
         method: :delete, data: {confirm: "Are you sure?"}) %>
      </li>
      <% end %>
  <% end%>
</ul>

<p>The total hours worked this month is <%= project_hours_for_month(@projects, @date) %></p>

<%= link_to("Back", projects_path) %>
<%= link_to("New Entry", new_project_entry_path(@projects)) %>
